.input {
  display: flex;
  height: 3.5em;
  flex: 1;
  background-color: #000;
  outline: 1px solid #888;
  border-bottom: 8px solid #888;
  color: #fff;
  justify-content: flex-end;
  padding: 0.3em;
  font-size: 1.4em;
  align-items: center;
}
