* {
  margin: 0;
  padding: 0;
}

.App {
  padding-bottom: 3.5em;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calc-wrapper {
  outline: 3px solid #888;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0%;
}

.row {
  display: flex;
}
